/* Importações */
/* Botões */
@import url(./src/componentes/button.css);
/* Cards */
@import url(./src/componentes/card.css);
/* Capas */
@import url(./src/componentes/cover.css);
/* Quadros */
@import url(./src/componentes/exibicao.css);
/* Formulários */
@import url(./src/componentes/form.css);
/* Popovers */
@import url(./src/componentes/popover.css);
/* Searchbars */
@import url(./src/componentes/searchbar.css);
/* Sliders */
@import url(./src/componentes/slider.css);
/* ItemRadio */
@import url(./src/componentes/itemRadio.css);

@font-face {
    font-family: DINpro;
    src: url(./src/fontes/DINPro/dinpro.otf);
}

/* Alterando Algumas Tags */

body {
    margin: 0;
    padding: 0;
    font-family: DINpro;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

/* Criando um Container */

.container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

/* Modelos */

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.titulo h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 51.52px;

}

.titulo h1 span {
    font-size: 40px;
    font-weight: 400;
    line-height: 51.52px;
}

.tracinho {
    width: 47px;
    height: 1px;
}

.tracoVertical {
    width: 5px;
    height: 245px;
    border-radius: 5px;
    background-color: #DB812D;
}

.estacionamento {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #154C82;
    text-align: center;
    color: white;
    height: 63px;
    margin: 0;
    padding: 0;
}

.estacionamento h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.76px;
}

.estacionamento h3 span {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.76px;
}

/* Header */
header {
    padding: 1vh;
}


header .container {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

header .popSearch {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}

header .logoContainer {
    display: flex;
    height: 70px;
    align-items: center;
}

header .logoContainer .logo {
    height: 100%;
}

/* Padrão Seguido Pelas Sessões */

section {
    padding: 10vh;
    text-align: center;
}

/* Div de Boas Vindas */
.boasVindas {
    display: flex;
    background-color: #292929;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.boasVindas .SBleft {
    right: 0;
}

.boasVindas .SBright {
    left: 0;
}

.boasVindas .slider {
    background-image: url(./src/imagens/banner.png);
    height: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.boasVindas .sliderButton {
    background-color: #DB812D;
    z-index: 99;
}

/* Sessão de Vitrine Virtual */

#Vitrine {
    background-color: #F2F2F2;
}

.vitrine .titulo {
    color: #DB812D;
}

.vitrine .titulo .tracinho {
    background-color: #DB812D;
}

.vitrine .slider {
    display: flex;
    justify-content: center;
    padding-top: 6vh;
}

.vitrine .sliderButton {
    background-color: #154C82;
}

.vitrine .SBright {
    background-color: #BDBDBD;
}

.vitrine .button2 {
    background-color: #DB812D;
    color: white;
}

.produtos {
    display: flex;
    flex-direction: row;
    gap: 11px;
}

/* Sessão de Lojas */

#Lojas {
    background-color: #DB812D;
}

.lojas .titulo {
    color: white;
}

.lojas .tracinho {
    background-color: white;
}

.lojas .exibicoes {
    margin-top: 6vh;
}

.lojas .button2 {
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #DB812D;
    margin-top: 6vh;
}

/* Sessão de Programação */

#Programacao {
    background-color: white;
}

.programacao .titulo {
    color: #DB812D;
}

.programacao .tracinho {
    background-color: #DB812D;
}

.programacao .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
}

.programacao .sliderButton {
    background-color: #154C82;
}

.filmes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

/* Sessão de Gastronomia */

#Gastronomia {
    background: #CC2131;
}

.gastronomia .titulo {
    color: white;
}

.gastronomia .tracinho {
    background-color: white;
}

.sliderButton {
    background-color: #FFF22D;
}

.pics {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: white;
    margin-top: 6vh;
}

/* Footer e Contato */

footer {
    padding: 10vh;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.tituloContato h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    text-align: center;
    color: #DB812D;
}

.tituloContato .tracinho {
    background-color: #DB812D;
}

.formContainer {
    width: 582px;
    margin-top: 6vh;
    /* border: solid 1px cyan; */
}

/* Info do Footer*/

.skew {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1000px;
    transform: skewY(10deg);
    background-color: #333333;
    z-index: 1;
}

.info {
    display: block;
    position: relative;
    color: white;
    background-color: #333333;
    top: 200px;
    z-index: 2;
}

.footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerNav {
    display: flex;
    flex-direction: row;
}

.footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

.footerNav a {
    text-decoration: none;
    color: white;
    font-family: DINPro;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.2px;
    text-align: left;
}

.footerRedes {
    display: flex;
    flex-direction: column;
}

.footerRedes h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 32.2px;
    margin-bottom: 30px;
    text-align: center;
}

.footerRedes .iconRedes {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footerCreditos {
    display: flex;
    flex-direction: column;
}

.footerCreditos h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 32.2px;
    text-align: left;
}

.footerCreditos p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.18px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Tamanhos de Tela */

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .boasVindas {
        height: 500px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }

    .boasVindas {
        height: 600px;
    }
}

@media screen and (min-width: 2000px) {
    .container {
        max-width: 1140px;
    }

    .boasVindas .slider {
        background-image: url(./src/imagens/banner.png);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}